$topic-height: 70;

.custom-homepage-columns {
  // Two column section with post feeds
  display: flex;
  margin: 2em 0 2em 0;

  .discourse-tags {
    display: none;
  }
  .num.likes {
    display: none;
  }

  .btn {
    line-height: unset;
    // Hide 'more' buttons because onboarding category doesn't have more topics.
    display: none;
  }

  .loading-container {
    min-height: calc(#{$topic-height}px * 3);
  }

  @media screen and (max-width: 750px) {
    flex-wrap: wrap;
  }
  .col {
    width: 50%;
    @media screen and (max-width: 750px) {
      width: 100%;
    }
  }
  .col-1 {
    margin-right: 1.5em;
    + .col-2 {
      margin-left: 1.5em;
    }
  }
  @media screen and (max-width: 750px) {
    .col-1,
    .col-2 {
      margin: 0 0 2em 0 !important;
    }
  }
  .header-wrapper {
    display: flex;
    align-items: flex-start;
    // background-color: #b8dfff; // KG: Kijken of color scheme beter is 
    background-color: var(--tertiary);
    color: var(--primary);
    padding: 0.75em;
    a h2 {
      margin: 0;
      color: var(--primary);
    }
    button {
      margin-left: auto;
      border: none;
      background: var(--primary-low);
      color: var(--primary);
    }
  }
  
  /* Kars Custom CSS */
  .header-wrapper {
      // box-shadow: 0 2px 8px 0 rgba(35,47,53,0.15);
      // border-radius: 10px;
      background-color: transparent;
      border-bottom: 5px solid var(--primary-very-low);
  }
  /* End Kars Custom CSS */

  .topic-list {
    // Hides extra details in topic feeds
    margin-bottom: 1em;
    > .topic-list-header,
    .posts-map,
    .num.posts,
    .num.views,
    .category {
      display: none;
    }
    > .topic-list-body {
      border: none;
    }
    // .topic-list-item:nth-child(odd) {
    //   background: var(--primary-very-low);
    // }
    .topic-list-item {
      height: #{$topic-height}px;
    }
    
    /* Custom OW */
    
    // .topic-list-item {
	// transition: 150ms ease-in-out;
        // border-radius: 10px;
        // margin: 12px 0;
        // background: var(--header_primary);
        // padding: 1.5em;
    // }

    .topic-list-item {
        padding: 1em;
        border-bottom: none !important;
        display: flex;
        align-items: center;
    }
    
    .topic-list-item:hover {
        box-shadow: 0px 3px 10px rgba(3,46,73,0.2); 
    }    

    /* End Custom OW */
    
    .posters {
      a {
        display: none;
        &:last-of-type {
          display: inline-block;
        }
      }
    }
    .main-link {
      width: 80%;
    }
  }
}
